<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>738736511512-t3n5l5dldao52dpjit9qjh7t8rcrjnnj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.738736511512-t3n5l5dldao52dpjit9qjh7t8rcrjnnj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>738736511512-c0lmlfiikd97p5bonkssn885anma83fe.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDoouanvXOb2YEVH2i6I9T7RA3ClfG5O_o</string>
	<key>GCM_SENDER_ID</key>
	<string>738736511512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stTracker</string>
	<key>PROJECT_ID</key>
	<string>smartschool-6aee1</string>
	<key>STORAGE_BUCKET</key>
	<string>smartschool-6aee1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:738736511512:ios:f302279f2d96844339416d</string>
</dict>
</plist>